$maxWidth: 1200px;
$minHeight: 1100px;

* {
  box-sizing: border-box;
}

@mixin setMaxWidth {
  max-width: $maxWidth;
}
@mixin setMinHeight {
  min-height: $minHeight;
}

@function vw($px-vw, $base-vw: $maxWidth) {
  @return calc(($px-vw * 100vw) / $base-vw);
}

@mixin setVmHeight($height) {
  height: vw($height);
  max-height: $height;
}

.el-loading-mask {
  background-color: #000000e3 !important;
}

.el-dialog {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 4px 6px #000000cc;
  border-radius: 25px;
}

.el-upload-list__item {
  transition: none !important;
}

%ProductItemCSS {
  .ProductPic {
    width: 231px;
    height: 360px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      display: block;
      margin: 0 auto;
      cursor: pointer;
    }
  }

  .ProductName {
    color: #6e6e6e;
    font-size: 0.875rem;
    padding: 10px 5px;
    text-align: center;
    cursor: pointer;
  }

  .ProductPrice {
    color: #d63131;
    font-size: 0.875rem;
    padding: 0px 5px 10px 5px;
    text-align: center;
    letter-spacing: 1px;
  }
}
