.listCardItem {
  background-color: #eaeaea;
  margin-bottom: 5px;
  position: relative;

  .cardHeaderRow {
    display: flex;
    flex-wrap: wrap;
    padding: 7px 10px;
    border-bottom: 1px solid #cccccc;
    position: relative;
    @mixin common {
      margin-right: 5px;
      font-weight: bold;
    }
    .playMethodName {
      color: #005aff;
      @include common();
    }
    .playMethodNameSupport {
      color: red;
      @include common();
    }
    .oddChangeStyle {
      background-color: #41b590;
      padding: 2px 4px;
      color: white !important;
    }
    .at {
      @include common();
    }
    .playBetOdd {
      color: red;
      @include common();
    }
    .el-icon-close {
      font-weight: bold;
      position: absolute;
      right: 6px;
      font-size: 18px;
      opacity: 0.5;
      margin-top: -3px;
      cursor: pointer;
      z-index: 9999;
    }
  }
  .cardContentBlock {
    padding: 8px 10px;
    .cardContentBlockRow {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 6px;
      &:last-child {
        margin-bottom: 0px;
      }
      .inputRow {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        width: 100%;
        .input {
          width: 49%;
          height: 30px;
          font-size: 15px;
          border-radius: 3px;
          padding: 5px;
          border: 1px solid transparent;
        }
        .redInputOutLine {
          border: 1px solid red !important;
        }
      }
      .lockRowInfo {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        .infoItem {
          width: 50%;
          display: flex;
          .infoItemTitle {
            margin-right: 5px;
          }
        }
      }
      .cardContentBlockRowText {
        margin-right: 5px;
        text-align: left;
        display: flex;
        .vs {
          margin-right: 5px;
        }
      }
      .ScoreColor {
        color: red;
        margin-right: 3px;
      }
      .HomeTeamSign {
        color: #ff8800;
      }
      .cardContentBlockWithHalfRow {
        width: 50%;
        text-align: left;
      }
      .resultText {
        color: #3fa381;
      }
      .submitBtn {
        width: 48%;
        height: 30px;
        line-height: 30px;
        text-align: center;
        font-size: 14px;
        cursor: pointer;
        font-weight: bold;
        background-color: #ffdf1b;
        color: black;
        &:hover {
          background-color: #ffeb68f9;
        }
      }
    }
    .limitText {
      color: #006a8a;
    }
    .overText {
      color: red;
    }
  }
  .strayContentBlock {
    padding: 8px 10px;
    position: relative;
    cursor: pointer;
    .strayContentBlockRow {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 6px;
      &:last-child {
        margin-bottom: 0px;
      }
      .strayTitleInfoText {
        color: #005aff;
        padding: 0px 5px;
      }
      .strayTitleInfoTextTip {
        color: #f00;
      }
    }
    .rightArrowBlock {
      position: absolute;
      right: 10px;
      top: 20px;
      i {
        font-size: 15px;
      }
    }

    .strayDetailBlock {
      margin-bottom: 5px;
      border: 1px solid rgb(164, 164, 164);
      text-align: left;
      background-color: #f3f3f3;

      .betPosName {
        color: #005aff;
      }
      .cutLine {
        color: #f00;
      }
      .strayDetailTitle {
        padding: 5px;
      }
      .strayDetailLine {
        width: 100%;
        height: 1px;
        background-color: rgb(164, 164, 164);
      }
      .strayDetailContentBlock {
        padding: 5px;
        display: flex;
        flex-wrap: wrap;
        .strayDetailContentBlockRow {
          width: 100%;
          display: flex;
          margin-bottom: 5px;
          .strayDetailContentBlockRowTeam {
            margin-left: 2px;
          }
        }
        .HomeTeamSign {
          color: #ff8800;
        }
      }
    }
  }
  .blackMaskErrorBlock {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.55);
    width: 100%;
    height: 100%;
    z-index: 999;
    left: 0;
    top: 0;
    .blackMaskText {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      color: white;
      font-size: 15px;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.8);
      white-space: nowrap;
      border-radius: 20px;
      padding: 8px 25px;
    }
  }
}
